=begin
#SMS

#You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ClickSend
  class AlphaTagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Alpha Tag
    # _Delete a specific alpha tag._  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | alpha_tag_id | path | uuid | true | ID of the alpha tag |  Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.  This endpoint requires authentication, [more info...](/#authentication)
    # @param alpha_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [nil]
    def delete_alpha_tag(alpha_tag_id, opts = {})
      delete_alpha_tag_with_http_info(alpha_tag_id, opts)
      nil
    end

    # Delete Alpha Tag
    # _Delete a specific alpha tag._  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | alpha_tag_id | path | uuid | true | ID of the alpha tag |  Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.  This endpoint requires authentication, [more info...](/#authentication)
    # @param alpha_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_alpha_tag_with_http_info(alpha_tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlphaTagsApi.delete_alpha_tag ...'
      end
      # verify the required parameter 'alpha_tag_id' is set
      if @api_client.config.client_side_validation && alpha_tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'alpha_tag_id' when calling AlphaTagsApi.delete_alpha_tag"
      end
      # resource path
      local_var_path = '/v3/alpha-tags/{alpha_tag_id}'.sub('{alpha_tag_id}', CGI.escape(alpha_tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AlphaTagsApi.delete_alpha_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlphaTagsApi#delete_alpha_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Alpha Tag
    # _Get a specific alpha tag._  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | alpha_tag_id | path | uuid | true | ID of the alpha tag |  Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   This endpoint requires authentication, [more info...](/#authentication)
    # @param alpha_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [AlphaTag]
    def get_alpha_tag(alpha_tag_id, opts = {})
      data, _status_code, _headers = get_alpha_tag_with_http_info(alpha_tag_id, opts)
      data
    end

    # Get Alpha Tag
    # _Get a specific alpha tag._  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | alpha_tag_id | path | uuid | true | ID of the alpha tag |  Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   This endpoint requires authentication, [more info...](/#authentication)
    # @param alpha_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(AlphaTag, Integer, Hash)>] AlphaTag data, response status code and response headers
    def get_alpha_tag_with_http_info(alpha_tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlphaTagsApi.get_alpha_tag ...'
      end
      # verify the required parameter 'alpha_tag_id' is set
      if @api_client.config.client_side_validation && alpha_tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'alpha_tag_id' when calling AlphaTagsApi.get_alpha_tag"
      end
      # resource path
      local_var_path = '/v3/alpha-tags/{alpha_tag_id}'.sub('{alpha_tag_id}', CGI.escape(alpha_tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlphaTag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AlphaTagsApi.get_alpha_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlphaTagsApi#get_alpha_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Alpha Tags
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_direction The sort direction for the results. The default value is asc. (default to 'asc')
    # @option opts [Integer] :page_size The number of items to return per page. This parameter controls the size of each page of results. The default value is 10. (default to 10)
    # @return [ListAlphaTags]
    def list_alpha_tags(opts = {})
      data, _status_code, _headers = list_alpha_tags_with_http_info(opts)
      data
    end

    # List Alpha Tags
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort_direction The sort direction for the results. The default value is asc. (default to 'asc')
    # @option opts [Integer] :page_size The number of items to return per page. This parameter controls the size of each page of results. The default value is 10. (default to 10)
    # @return [Array<(ListAlphaTags, Integer, Hash)>] ListAlphaTags data, response status code and response headers
    def list_alpha_tags_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlphaTagsApi.list_alpha_tags ...'
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_direction'] && !allowable_values.include?(opts[:'sort_direction'])
        fail ArgumentError, "invalid value for \"sort_direction\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AlphaTagsApi.list_alpha_tags, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AlphaTagsApi.list_alpha_tags, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v3/alpha-tags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort_direction'] = opts[:'sort_direction'] if !opts[:'sort_direction'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAlphaTags'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AlphaTagsApi.list_alpha_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlphaTagsApi#list_alpha_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request Alpha Tag
    # _Request to register an alpha tag. After requested, the alpha tag will be reviewed by ClickSend and either approved or rejected. Some countries (e.g Australia) require you to submit additional fields due to government mandated compliance checks._  ### Properties  | Name | Type | Required | Restrictions | Description | | --- | --- | --- | --- | --- | | alpha_tag | string | true | [yes](https://help.clicksend.com/article/1qxfxkcwm2-global-generic-alpha-tags) | The alpha tag name. Length must be between 3 - 11 characters, can only contain a-z A-Z 0-9 + and must contain at least one non numeric. | | reason | string | false | none | Must be one of the following: `Sole Trader Name`, `Company Name`, `Partnership Name`, `Registered Trust Name`, `Co-Operative Name`, `Indigenous Corporation Name`, `Registered Organisation Name`, `Personal Name`, `Trademark`, `Government Agency or Entity`, `Product or Service Name`, `Acronym/Initialism`, `Contraction of Name`, `Third Party`. In case of `Third Party`, we will contact you to collect the relevant information. | | countries | array of strings | false | none | List of country codes (e.g., \"AU\", \"US\") where the alpha tag is requested. Only supported and required for AU. | | businesses | array of objects | false | none | List of business details required for alpha tag registration. Each object contains country, business information, ... Required if `countries` is provided. When `business_relationship` is `ENTITY_ASSOCIATE`, the following partner fields are also **required**: `partner_business_name`, `partner_abn`, `partner_business_info`, `partner_business_address`, `partner_representative`. These fields are **forbidden** for any other `business_relationship` value. |  Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.  _This endpoint requires authentication,_ [more info...](/#authentication) 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [RequestAlphaTagRequest] :request_alpha_tag_request 
    # @return [AlphaTag]
    def request_alpha_tag(opts = {})
      data, _status_code, _headers = request_alpha_tag_with_http_info(opts)
      data
    end

    # Request Alpha Tag
    # _Request to register an alpha tag. After requested, the alpha tag will be reviewed by ClickSend and either approved or rejected. Some countries (e.g Australia) require you to submit additional fields due to government mandated compliance checks._  ### Properties  | Name | Type | Required | Restrictions | Description | | --- | --- | --- | --- | --- | | alpha_tag | string | true | [yes](https://help.clicksend.com/article/1qxfxkcwm2-global-generic-alpha-tags) | The alpha tag name. Length must be between 3 - 11 characters, can only contain a-z A-Z 0-9 + and must contain at least one non numeric. | | reason | string | false | none | Must be one of the following: &#x60;Sole Trader Name&#x60;, &#x60;Company Name&#x60;, &#x60;Partnership Name&#x60;, &#x60;Registered Trust Name&#x60;, &#x60;Co-Operative Name&#x60;, &#x60;Indigenous Corporation Name&#x60;, &#x60;Registered Organisation Name&#x60;, &#x60;Personal Name&#x60;, &#x60;Trademark&#x60;, &#x60;Government Agency or Entity&#x60;, &#x60;Product or Service Name&#x60;, &#x60;Acronym/Initialism&#x60;, &#x60;Contraction of Name&#x60;, &#x60;Third Party&#x60;. In case of &#x60;Third Party&#x60;, we will contact you to collect the relevant information. | | countries | array of strings | false | none | List of country codes (e.g., \&quot;AU\&quot;, \&quot;US\&quot;) where the alpha tag is requested. Only supported and required for AU. | | businesses | array of objects | false | none | List of business details required for alpha tag registration. Each object contains country, business information, ... Required if &#x60;countries&#x60; is provided. When &#x60;business_relationship&#x60; is &#x60;ENTITY_ASSOCIATE&#x60;, the following partner fields are also **required**: &#x60;partner_business_name&#x60;, &#x60;partner_abn&#x60;, &#x60;partner_business_info&#x60;, &#x60;partner_business_address&#x60;, &#x60;partner_representative&#x60;. These fields are **forbidden** for any other &#x60;business_relationship&#x60; value. |  Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.  _This endpoint requires authentication,_ [more info...](/#authentication) 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [RequestAlphaTagRequest] :request_alpha_tag_request 
    # @return [Array<(AlphaTag, Integer, Hash)>] AlphaTag data, response status code and response headers
    def request_alpha_tag_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlphaTagsApi.request_alpha_tag ...'
      end
      # resource path
      local_var_path = '/v3/alpha-tags'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'request_alpha_tag_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AlphaTag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"AlphaTagsApi.request_alpha_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlphaTagsApi#request_alpha_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
