=begin
#SMS

#You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ClickSend
  class UrlShorteningApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Statistics
    # Use this endpoint to get the aggregated statistics for a shortened URL. This allows you to track the total number of clicks on the link. You can gather details such as the device type and where it was opened from as well.
    # @param source [String] Source of the request.
    # @param source_id [String] ID of the source (e.g. message ID).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [GetStatistics]
    def short_url_get_statistics(source, source_id, opts = {})
      data, _status_code, _headers = short_url_get_statistics_with_http_info(source, source_id, opts)
      data
    end

    # Get Statistics
    # Use this endpoint to get the aggregated statistics for a shortened URL. This allows you to track the total number of clicks on the link. You can gather details such as the device type and where it was opened from as well.
    # @param source [String] Source of the request.
    # @param source_id [String] ID of the source (e.g. message ID).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(GetStatistics, Integer, Hash)>] GetStatistics data, response status code and response headers
    def short_url_get_statistics_with_http_info(source, source_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UrlShorteningApi.short_url_get_statistics ...'
      end
      # verify the required parameter 'source' is set
      if @api_client.config.client_side_validation && source.nil?
        fail ArgumentError, "Missing the required parameter 'source' when calling UrlShorteningApi.short_url_get_statistics"
      end
      # verify enum value
      allowable_values = ["quick_sms"]
      if @api_client.config.client_side_validation && !allowable_values.include?(source)
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'source_id' is set
      if @api_client.config.client_side_validation && source_id.nil?
        fail ArgumentError, "Missing the required parameter 'source_id' when calling UrlShorteningApi.short_url_get_statistics"
      end
      # resource path
      local_var_path = '/v3/short-url/statistics/{source}/{source_id}'.sub('{source}', CGI.escape(source.to_s)).sub('{source_id}', CGI.escape(source_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetStatistics'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"UrlShorteningApi.short_url_get_statistics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UrlShorteningApi#short_url_get_statistics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Tracking
    # Use this endpoint to track how individual recipients interact with the link.  It returns data from the most recent click, including statistics such as how many times they’ve visited the link and when it was last opened. To use this endpoint, reference the _long_url_id_ provided in the [GET /short-url/statistics](/messaging/url-shortening/other/short-url-get-statistics) endpoint.
    # @param long_url_id [String] ID of the long URL (uniquely defined by the source, source ID, and long URL). Obtained from the GET statistics endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [GetTracking]
    def short_url_get_tracking(long_url_id, opts = {})
      data, _status_code, _headers = short_url_get_tracking_with_http_info(long_url_id, opts)
      data
    end

    # Get Tracking
    # Use this endpoint to track how individual recipients interact with the link.  It returns data from the most recent click, including statistics such as how many times they’ve visited the link and when it was last opened. To use this endpoint, reference the _long_url_id_ provided in the [GET /short-url/statistics](/messaging/url-shortening/other/short-url-get-statistics) endpoint.
    # @param long_url_id [String] ID of the long URL (uniquely defined by the source, source ID, and long URL). Obtained from the GET statistics endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(GetTracking, Integer, Hash)>] GetTracking data, response status code and response headers
    def short_url_get_tracking_with_http_info(long_url_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UrlShorteningApi.short_url_get_tracking ...'
      end
      # verify the required parameter 'long_url_id' is set
      if @api_client.config.client_side_validation && long_url_id.nil?
        fail ArgumentError, "Missing the required parameter 'long_url_id' when calling UrlShorteningApi.short_url_get_tracking"
      end
      # resource path
      local_var_path = '/v3/short-url/tracking/{long_url_id}'.sub('{long_url_id}', CGI.escape(long_url_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTracking'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"UrlShorteningApi.short_url_get_tracking",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UrlShorteningApi#short_url_get_tracking\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
