=begin
#SMS

#You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ClickSend
  class DefaultSendersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Default Sender
    # Creates a new default sender configuration to automate the selection of compliant SenderIDs. By configuring a default sender you no longer need to define the `sender_id` string when sending SMS messages. The default sender will be picked up automatically.  For more information on Sender IDs, please refer to [What is a Sender ID or Sender Number?](https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateDefaultSenderRequest] :create_default_sender_request 
    # @return [CreateDefaultSender]
    def create_default_sender(opts = {})
      data, _status_code, _headers = create_default_sender_with_http_info(opts)
      data
    end

    # Create Default Sender
    # Creates a new default sender configuration to automate the selection of compliant SenderIDs. By configuring a default sender you no longer need to define the &#x60;sender_id&#x60; string when sending SMS messages. The default sender will be picked up automatically.  For more information on Sender IDs, please refer to [What is a Sender ID or Sender Number?](https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateDefaultSenderRequest] :create_default_sender_request 
    # @return [Array<(CreateDefaultSender, Integer, Hash)>] CreateDefaultSender data, response status code and response headers
    def create_default_sender_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultSendersApi.create_default_sender ...'
      end
      # resource path
      local_var_path = '/v3/senders/default-senders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_default_sender_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateDefaultSender'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DefaultSendersApi.create_default_sender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultSendersApi#create_default_sender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Default Sender
    # Removes a specified default sender setting.  If you don't configure a default sender and leave the `sender_id` string blank when sending an SMS, Smart Assign will pick the best suitable, compliant, available SenderID for you.
    # @param default_sender_id [String] The ID of the default sender to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [nil]
    def delete_default_sender(default_sender_id, opts = {})
      delete_default_sender_with_http_info(default_sender_id, opts)
      nil
    end

    # Delete Default Sender
    # Removes a specified default sender setting.  If you don&#39;t configure a default sender and leave the &#x60;sender_id&#x60; string blank when sending an SMS, Smart Assign will pick the best suitable, compliant, available SenderID for you.
    # @param default_sender_id [String] The ID of the default sender to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_default_sender_with_http_info(default_sender_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultSendersApi.delete_default_sender ...'
      end
      # verify the required parameter 'default_sender_id' is set
      if @api_client.config.client_side_validation && default_sender_id.nil?
        fail ArgumentError, "Missing the required parameter 'default_sender_id' when calling DefaultSendersApi.delete_default_sender"
      end
      # resource path
      local_var_path = '/v3/senders/default-senders/{default_sender_id}'.sub('{default_sender_id}', CGI.escape(default_sender_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DefaultSendersApi.delete_default_sender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultSendersApi#delete_default_sender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Default Sender Details
    # Retrieve detailed information about a specific default sender configuration
    # @param default_sender_id [String] The ID of the default sender to retrieve
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [GetDefaultSenderDetails]
    def get_default_sender_details(default_sender_id, opts = {})
      data, _status_code, _headers = get_default_sender_details_with_http_info(default_sender_id, opts)
      data
    end

    # Get Default Sender Details
    # Retrieve detailed information about a specific default sender configuration
    # @param default_sender_id [String] The ID of the default sender to retrieve
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(GetDefaultSenderDetails, Integer, Hash)>] GetDefaultSenderDetails data, response status code and response headers
    def get_default_sender_details_with_http_info(default_sender_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultSendersApi.get_default_sender_details ...'
      end
      # verify the required parameter 'default_sender_id' is set
      if @api_client.config.client_side_validation && default_sender_id.nil?
        fail ArgumentError, "Missing the required parameter 'default_sender_id' when calling DefaultSendersApi.get_default_sender_details"
      end
      # resource path
      local_var_path = '/v3/senders/default-senders/{default_sender_id}'.sub('{default_sender_id}', CGI.escape(default_sender_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDefaultSenderDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DefaultSendersApi.get_default_sender_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultSendersApi#get_default_sender_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get List of Default Senders
    # Retrieve a list of default senders for the current user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [String] :offset Page (offset) to be used for pagination
    # @option opts [Integer] :per_page Size of the page in pagination (default to 10)
    # @option opts [String] :sort_by Parameter to sort the results by (default to 'created_timestamp')
    # @option opts [String] :sort_direction Direction of sorting (default to 'desc')
    # @return [GetDefaultSendersList]
    def get_default_senders_list(opts = {})
      data, _status_code, _headers = get_default_senders_list_with_http_info(opts)
      data
    end

    # Get List of Default Senders
    # Retrieve a list of default senders for the current user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [String] :offset Page (offset) to be used for pagination
    # @option opts [Integer] :per_page Size of the page in pagination (default to 10)
    # @option opts [String] :sort_by Parameter to sort the results by (default to 'created_timestamp')
    # @option opts [String] :sort_direction Direction of sorting (default to 'desc')
    # @return [Array<(GetDefaultSendersList, Integer, Hash)>] GetDefaultSendersList data, response status code and response headers
    def get_default_senders_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultSendersApi.get_default_senders_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 500
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling DefaultSendersApi.get_default_senders_list, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling DefaultSendersApi.get_default_senders_list, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_direction'] && !allowable_values.include?(opts[:'sort_direction'])
        fail ArgumentError, "invalid value for \"sort_direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v3/senders/default-senders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_direction'] = opts[:'sort_direction'] if !opts[:'sort_direction'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDefaultSendersList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DefaultSendersApi.get_default_senders_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultSendersApi#get_default_senders_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Compliant Sender Types
    # Retrieves the list of compliant sender types for specific countries
    # @param filter_product_type [String] Type of the product
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :filter_country_code_index Array of recipient country codes (ISO 3166-1 alpha-2). If not specified, will get all compliant sender types for all countries. Replace &#x60;{index}&#x60; with the appropriate index value.  &lt;small&gt;Example:&lt;/small&gt; &lt;small&gt;&lt;code style&#x3D;\&quot;color: #424242;\&quot;&gt;filter[country_code][0]&#x3D;US&amp;filter[country_code][1]&#x3D;AU&lt;/code&gt;&lt;/small&gt; 
    # @return [ListCompliantSenderTypes200Response]
    def list_compliant_sender_types(filter_product_type, opts = {})
      data, _status_code, _headers = list_compliant_sender_types_with_http_info(filter_product_type, opts)
      data
    end

    # List Compliant Sender Types
    # Retrieves the list of compliant sender types for specific countries
    # @param filter_product_type [String] Type of the product
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :filter_country_code_index Array of recipient country codes (ISO 3166-1 alpha-2). If not specified, will get all compliant sender types for all countries. Replace &#x60;{index}&#x60; with the appropriate index value.  &lt;small&gt;Example:&lt;/small&gt; &lt;small&gt;&lt;code style&#x3D;\&quot;color: #424242;\&quot;&gt;filter[country_code][0]&#x3D;US&amp;filter[country_code][1]&#x3D;AU&lt;/code&gt;&lt;/small&gt; 
    # @return [Array<(ListCompliantSenderTypes200Response, Integer, Hash)>] ListCompliantSenderTypes200Response data, response status code and response headers
    def list_compliant_sender_types_with_http_info(filter_product_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultSendersApi.list_compliant_sender_types ...'
      end
      # verify the required parameter 'filter_product_type' is set
      if @api_client.config.client_side_validation && filter_product_type.nil?
        fail ArgumentError, "Missing the required parameter 'filter_product_type' when calling DefaultSendersApi.list_compliant_sender_types"
      end
      # verify enum value
      allowable_values = ["SMS"]
      if @api_client.config.client_side_validation && !allowable_values.include?(filter_product_type)
        fail ArgumentError, "invalid value for \"filter_product_type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'filter_country_code_index'].nil? && opts[:'filter_country_code_index'].length > 98
        fail ArgumentError, 'invalid value for "opts[:"filter_country_code_index"]" when calling DefaultSendersApi.list_compliant_sender_types, number of items must be less than or equal to 98.'
      end

      # resource path
      local_var_path = '/v3/senders/compliant-sender-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[product_type]'] = filter_product_type
      query_params[:'filter[country_code][{index}]'] = @api_client.build_collection_param(opts[:'filter_country_code_index'], :multi) if !opts[:'filter_country_code_index'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCompliantSenderTypes200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DefaultSendersApi.list_compliant_sender_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultSendersApi#list_compliant_sender_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Default Sender
    # Updates the details of an existing default sender configuration.  For more information on Sender IDs, please refer to [What is a Sender ID or Sender Number?](https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number)
    # @param default_sender_id [String] The ID of the default sender to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [UpdateDefaultSenderRequest] :update_default_sender_request 
    # @return [UpdateDefaultSender]
    def update_default_sender(default_sender_id, opts = {})
      data, _status_code, _headers = update_default_sender_with_http_info(default_sender_id, opts)
      data
    end

    # Update Default Sender
    # Updates the details of an existing default sender configuration.  For more information on Sender IDs, please refer to [What is a Sender ID or Sender Number?](https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number)
    # @param default_sender_id [String] The ID of the default sender to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [UpdateDefaultSenderRequest] :update_default_sender_request 
    # @return [Array<(UpdateDefaultSender, Integer, Hash)>] UpdateDefaultSender data, response status code and response headers
    def update_default_sender_with_http_info(default_sender_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultSendersApi.update_default_sender ...'
      end
      # verify the required parameter 'default_sender_id' is set
      if @api_client.config.client_side_validation && default_sender_id.nil?
        fail ArgumentError, "Missing the required parameter 'default_sender_id' when calling DefaultSendersApi.update_default_sender"
      end
      # resource path
      local_var_path = '/v3/senders/default-senders/{default_sender_id}'.sub('{default_sender_id}', CGI.escape(default_sender_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_default_sender_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateDefaultSender'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"DefaultSendersApi.update_default_sender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultSendersApi#update_default_sender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
