=begin
#SMS

#You can use the SMS endpoints to send and manage SMS, check the cost of sending SMS, view message history, and more. Integrate them into your system as part of your workflow.  Relevant guides: <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">How many characters can I send in an SMS?</a>, <a href=\"https://help.clicksend.com/article/1hd33n2xns-sms-status-delivery-receipt-expired\" target=\"_blank\">SMS status delivery receipt expired</a>, <a href=\"https://help.clicksend.com/en/articles/42195-unicode-vs-plain-text\" target=\"_blank\">Do you support non-English characters</a>, and <a href=\"https://help.clicksend.com/category/mfdctha7f0-country-specific-features-and-restrictions\" target=\"_blank\">Country Specific Features and Restrictions</a>. <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note :</h4>   ClickSend is pausing SMS messages containing URLs for new customers. Please remove links from messages to maintain uninterrupted delivery, or <a href=\"https://www.clicksend.com/gb/help/\" target=\"_blank\">contact support</a> to apply for approval for URL messaging. </div>

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ClickSend
  class SmsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Calculate SMS Price
    # Use this endpoint to calculate the price of sending messages. The cost of sending messages varies based on the <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">type</a> and length of the message.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CalculateSmsPriceRequest] :calculate_sms_price_request 
    # @return [CalculateSmsPrice]
    def calculate_sms_price(opts = {})
      data, _status_code, _headers = calculate_sms_price_with_http_info(opts)
      data
    end

    # Calculate SMS Price
    # Use this endpoint to calculate the price of sending messages. The cost of sending messages varies based on the &lt;a href&#x3D;\&quot;https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\&quot; target&#x3D;\&quot;_blank\&quot;&gt;type&lt;/a&gt; and length of the message.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CalculateSmsPriceRequest] :calculate_sms_price_request 
    # @return [Array<(CalculateSmsPrice, Integer, Hash)>] CalculateSmsPrice data, response status code and response headers
    def calculate_sms_price_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.calculate_sms_price ...'
      end
      # resource path
      local_var_path = '/v3/sms/price'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'calculate_sms_price_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CalculateSmsPrice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.calculate_sms_price",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#calculate_sms_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel All SMS
    # Use this endpoint to cancel all scheduled SMS. To cancel only one scheduled SMS, use the **Cancel SMS** endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CancelAllSmsRequest] :cancel_all_sms_request 
    # @return [CancelAllSms]
    def cancel_all_sms(opts = {})
      data, _status_code, _headers = cancel_all_sms_with_http_info(opts)
      data
    end

    # Cancel All SMS
    # Use this endpoint to cancel all scheduled SMS. To cancel only one scheduled SMS, use the **Cancel SMS** endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CancelAllSmsRequest] :cancel_all_sms_request 
    # @return [Array<(CancelAllSms, Integer, Hash)>] CancelAllSms data, response status code and response headers
    def cancel_all_sms_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.cancel_all_sms ...'
      end
      # resource path
      local_var_path = '/v3/sms/cancel-all'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'cancel_all_sms_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CancelAllSms'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.cancel_all_sms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#cancel_all_sms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel SMS
    # Use this endpoint to cancel a specific scheduled SMS. Unlike the **Cancel All SMS** endpoint, which cancels all scheduled SMS, this endpoint only cancels one specified scheduled SMS.  Specify the scheduled SMS to cancel by providing its _message_id_.
    # @param message_id [String] The _message_id_ of the scheduled SMS to cancel.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [CancelSms]
    def cancel_sms(message_id, opts = {})
      data, _status_code, _headers = cancel_sms_with_http_info(message_id, opts)
      data
    end

    # Cancel SMS
    # Use this endpoint to cancel a specific scheduled SMS. Unlike the **Cancel All SMS** endpoint, which cancels all scheduled SMS, this endpoint only cancels one specified scheduled SMS.  Specify the scheduled SMS to cancel by providing its _message_id_.
    # @param message_id [String] The _message_id_ of the scheduled SMS to cancel.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(CancelSms, Integer, Hash)>] CancelSms data, response status code and response headers
    def cancel_sms_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.cancel_sms ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling SmsApi.cancel_sms"
      end
      # resource path
      local_var_path = '/v3/sms/{message_id}/cancel'.sub('{message_id}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CancelSms'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.cancel_sms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#cancel_sms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create SMS Delivery Receipt Rule
    # _Create sms delivery receipt automations_  Create sms delivery receipt automations  ### Properties  | Name | Type | Required | Restrictions | Description | | --- | --- | --- | --- | --- | | rule_name | string | true | none | Rule Name. | | match_type | number | true | none | Match Type. 0=All reports. | | action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). | | action_address | string | true | none | Action address. | | enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   <div style=\"background-color: #FF6A4B; padding: 10px; border-radius: 8px;\">   <span style=\"color: white;\">This endpoint requires authentication,</span>    <a href=\"/docs/#authentication\" style=\"color: white; text-decoration: underline;\">more info...</a> </div>
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateSmsDeliveryReceiptRuleRequest] :create_sms_delivery_receipt_rule_request 
    # @return [CreateSmsDeliveryReceiptRule]
    def create_sms_delivery_receipt_rule(opts = {})
      data, _status_code, _headers = create_sms_delivery_receipt_rule_with_http_info(opts)
      data
    end

    # Create SMS Delivery Receipt Rule
    # _Create sms delivery receipt automations_  Create sms delivery receipt automations  ### Properties  | Name | Type | Required | Restrictions | Description | | --- | --- | --- | --- | --- | | rule_name | string | true | none | Rule Name. | | match_type | number | true | none | Match Type. 0&#x3D;All reports. | | action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). | | action_address | string | true | none | Action address. | | enabled | number | true | none | Enabled: Disabled&#x3D;0 or Enabled&#x3D;1. |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   &lt;div style&#x3D;\&quot;background-color: #FF6A4B; padding: 10px; border-radius: 8px;\&quot;&gt;   &lt;span style&#x3D;\&quot;color: white;\&quot;&gt;This endpoint requires authentication,&lt;/span&gt;    &lt;a href&#x3D;\&quot;/docs/#authentication\&quot; style&#x3D;\&quot;color: white; text-decoration: underline;\&quot;&gt;more info...&lt;/a&gt; &lt;/div&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateSmsDeliveryReceiptRuleRequest] :create_sms_delivery_receipt_rule_request 
    # @return [Array<(CreateSmsDeliveryReceiptRule, Integer, Hash)>] CreateSmsDeliveryReceiptRule data, response status code and response headers
    def create_sms_delivery_receipt_rule_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.create_sms_delivery_receipt_rule ...'
      end
      # resource path
      local_var_path = '/v3/automations/sms/receipts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_sms_delivery_receipt_rule_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSmsDeliveryReceiptRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.create_sms_delivery_receipt_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#create_sms_delivery_receipt_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create SMS Inbound Automation
    # _Create new inbound sms automation_  Create new inbound sms automation  | Name | Type | Required | Restrictions | Description | | --- | --- | --- | --- | --- | | dedicated_number | string | true | none | Decicated Number. Can be '\\*' to apply to all numbers. | | rule_name | string | true | none | Rule Name. | | message_search_type | number | true | none | Message Search Type: 0=Any message, 1=starts with, 2=contains, 3=does not contain. | | message_search_term | string | true | none | Message search term. | | action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). | | action_address | string | true | none | Action address. | | enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. | | webhook_type | string | false | Required when action = URL only | Set as post, get, or json to change the format of the request sent. |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   <div style=\"background-color: #FF6A4B; padding: 10px; border-radius: 8px;\">   <span style=\"color: white;\">This endpoint requires authentication,</span>    <a href=\"/docs/#authentication\" style=\"color: white; text-decoration: underline;\">more info...</a> </div>
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateSmsInboundAutomationRequest] :create_sms_inbound_automation_request 
    # @return [CreateSmsInboundAutomation]
    def create_sms_inbound_automation(opts = {})
      data, _status_code, _headers = create_sms_inbound_automation_with_http_info(opts)
      data
    end

    # Create SMS Inbound Automation
    # _Create new inbound sms automation_  Create new inbound sms automation  | Name | Type | Required | Restrictions | Description | | --- | --- | --- | --- | --- | | dedicated_number | string | true | none | Decicated Number. Can be &#39;\\*&#39; to apply to all numbers. | | rule_name | string | true | none | Rule Name. | | message_search_type | number | true | none | Message Search Type: 0&#x3D;Any message, 1&#x3D;starts with, 2&#x3D;contains, 3&#x3D;does not contain. | | message_search_term | string | true | none | Message search term. | | action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). | | action_address | string | true | none | Action address. | | enabled | number | true | none | Enabled: Disabled&#x3D;0 or Enabled&#x3D;1. | | webhook_type | string | false | Required when action &#x3D; URL only | Set as post, get, or json to change the format of the request sent. |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   &lt;div style&#x3D;\&quot;background-color: #FF6A4B; padding: 10px; border-radius: 8px;\&quot;&gt;   &lt;span style&#x3D;\&quot;color: white;\&quot;&gt;This endpoint requires authentication,&lt;/span&gt;    &lt;a href&#x3D;\&quot;/docs/#authentication\&quot; style&#x3D;\&quot;color: white; text-decoration: underline;\&quot;&gt;more info...&lt;/a&gt; &lt;/div&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateSmsInboundAutomationRequest] :create_sms_inbound_automation_request 
    # @return [Array<(CreateSmsInboundAutomation, Integer, Hash)>] CreateSmsInboundAutomation data, response status code and response headers
    def create_sms_inbound_automation_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.create_sms_inbound_automation ...'
      end
      # resource path
      local_var_path = '/v3/automations/sms/inbound'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_sms_inbound_automation_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSmsInboundAutomation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.create_sms_inbound_automation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#create_sms_inbound_automation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create SMS Template
    # Use this endpoint to create a SMS template that you can use for sending SMS.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateSmsTemplateRequest] :create_sms_template_request 
    # @return [CreateSmsTemplate]
    def create_sms_template(opts = {})
      data, _status_code, _headers = create_sms_template_with_http_info(opts)
      data
    end

    # Create SMS Template
    # Use this endpoint to create a SMS template that you can use for sending SMS.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateSmsTemplateRequest] :create_sms_template_request 
    # @return [Array<(CreateSmsTemplate, Integer, Hash)>] CreateSmsTemplate data, response status code and response headers
    def create_sms_template_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.create_sms_template ...'
      end
      # resource path
      local_var_path = '/v3/sms/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_sms_template_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSmsTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.create_sms_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#create_sms_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Test Inbound SMS
    # Use this endpoint to generate and send a test <a href=\"https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url\" target=\"_blank\">inbound SMS</a> to your webhook URL. Inbound SMS are messages sent by your recipient to you.  This test endpoint allows you to verify that the inbound SMS is correctly sent to your webhook URL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateTestInboundSmsRequest] :create_test_inbound_sms_request 
    # @return [CreateTestInboundSms]
    def create_test_inbound_sms(opts = {})
      data, _status_code, _headers = create_test_inbound_sms_with_http_info(opts)
      data
    end

    # Create Test Inbound SMS
    # Use this endpoint to generate and send a test &lt;a href&#x3D;\&quot;https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url\&quot; target&#x3D;\&quot;_blank\&quot;&gt;inbound SMS&lt;/a&gt; to your webhook URL. Inbound SMS are messages sent by your recipient to you.  This test endpoint allows you to verify that the inbound SMS is correctly sent to your webhook URL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateTestInboundSmsRequest] :create_test_inbound_sms_request 
    # @return [Array<(CreateTestInboundSms, Integer, Hash)>] CreateTestInboundSms data, response status code and response headers
    def create_test_inbound_sms_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.create_test_inbound_sms ...'
      end
      # resource path
      local_var_path = '/v3/sms/inbound'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_test_inbound_sms_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTestInboundSms'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.create_test_inbound_sms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#create_test_inbound_sms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Test SMS Receipt
    # Use this endpoint to generate and send a test <a href=\"https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates\" target=\"_blank\">SMS delivery receipt</a> to your webhook URL. When you send an SMS, a delivery receipt is generated and can be received at your webhook URL. This test endpoint allows you to verify that the receipt is correctly sent to your webhook URL.  Additionally, you can obtain SMS receipts by setting the webhook URL to **poll** and periodically calling the **View SMS Receipt** endpoint to check for new receipts. This process is known as _polling_.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateTestSmsReceiptRequest] :create_test_sms_receipt_request 
    # @return [CreateTestSmsReceipt]
    def create_test_sms_receipt(opts = {})
      data, _status_code, _headers = create_test_sms_receipt_with_http_info(opts)
      data
    end

    # Create Test SMS Receipt
    # Use this endpoint to generate and send a test &lt;a href&#x3D;\&quot;https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates\&quot; target&#x3D;\&quot;_blank\&quot;&gt;SMS delivery receipt&lt;/a&gt; to your webhook URL. When you send an SMS, a delivery receipt is generated and can be received at your webhook URL. This test endpoint allows you to verify that the receipt is correctly sent to your webhook URL.  Additionally, you can obtain SMS receipts by setting the webhook URL to **poll** and periodically calling the **View SMS Receipt** endpoint to check for new receipts. This process is known as _polling_.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateTestSmsReceiptRequest] :create_test_sms_receipt_request 
    # @return [Array<(CreateTestSmsReceipt, Integer, Hash)>] CreateTestSmsReceipt data, response status code and response headers
    def create_test_sms_receipt_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.create_test_sms_receipt ...'
      end
      # resource path
      local_var_path = '/v3/sms/receipts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_test_sms_receipt_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTestSmsReceipt'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.create_test_sms_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#create_test_sms_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SMS Delivery Receipt Rule
    # _Delete sms delivery receipt automation_  Delete sms delivery receipt automation  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | receipt_rule_id | path | integer(int32) | true | Receipt rule id |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   <div style=\"background-color: #FF6A4B; padding: 10px; border-radius: 8px;\">   <span style=\"color: white;\">This endpoint requires authentication,</span>    <a href=\"/docs/#authentication\" style=\"color: white; text-decoration: underline;\">more info...</a> </div>
    # @param receipt_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [DeleteSmsDeliveryReceiptRule]
    def delete_sms_delivery_receipt_rule(receipt_rule_id, opts = {})
      data, _status_code, _headers = delete_sms_delivery_receipt_rule_with_http_info(receipt_rule_id, opts)
      data
    end

    # Delete SMS Delivery Receipt Rule
    # _Delete sms delivery receipt automation_  Delete sms delivery receipt automation  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | receipt_rule_id | path | integer(int32) | true | Receipt rule id |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   &lt;div style&#x3D;\&quot;background-color: #FF6A4B; padding: 10px; border-radius: 8px;\&quot;&gt;   &lt;span style&#x3D;\&quot;color: white;\&quot;&gt;This endpoint requires authentication,&lt;/span&gt;    &lt;a href&#x3D;\&quot;/docs/#authentication\&quot; style&#x3D;\&quot;color: white; text-decoration: underline;\&quot;&gt;more info...&lt;/a&gt; &lt;/div&gt;
    # @param receipt_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(DeleteSmsDeliveryReceiptRule, Integer, Hash)>] DeleteSmsDeliveryReceiptRule data, response status code and response headers
    def delete_sms_delivery_receipt_rule_with_http_info(receipt_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.delete_sms_delivery_receipt_rule ...'
      end
      # verify the required parameter 'receipt_rule_id' is set
      if @api_client.config.client_side_validation && receipt_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_rule_id' when calling SmsApi.delete_sms_delivery_receipt_rule"
      end
      # resource path
      local_var_path = '/v3/automations/sms/receipts/{receipt_rule_id}'.sub('{receipt_rule_id}', CGI.escape(receipt_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteSmsDeliveryReceiptRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.delete_sms_delivery_receipt_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#delete_sms_delivery_receipt_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SMS Inbound Automation
    # _Delete inbound sms automation_  Delete inbound sms automation  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | inbound_rule_id | path | integer(int32) | true | Inbound rule id |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   <div style=\"background-color: #FF6A4B; padding: 10px; border-radius: 8px;\">   <span style=\"color: white;\">This endpoint requires authentication,</span>    <a href=\"/docs/#authentication\" style=\"color: white; text-decoration: underline;\">more info...</a> </div>
    # @param inbound_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [DeleteSmsInboundAutomation]
    def delete_sms_inbound_automation(inbound_rule_id, opts = {})
      data, _status_code, _headers = delete_sms_inbound_automation_with_http_info(inbound_rule_id, opts)
      data
    end

    # Delete SMS Inbound Automation
    # _Delete inbound sms automation_  Delete inbound sms automation  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | inbound_rule_id | path | integer(int32) | true | Inbound rule id |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   &lt;div style&#x3D;\&quot;background-color: #FF6A4B; padding: 10px; border-radius: 8px;\&quot;&gt;   &lt;span style&#x3D;\&quot;color: white;\&quot;&gt;This endpoint requires authentication,&lt;/span&gt;    &lt;a href&#x3D;\&quot;/docs/#authentication\&quot; style&#x3D;\&quot;color: white; text-decoration: underline;\&quot;&gt;more info...&lt;/a&gt; &lt;/div&gt;
    # @param inbound_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(DeleteSmsInboundAutomation, Integer, Hash)>] DeleteSmsInboundAutomation data, response status code and response headers
    def delete_sms_inbound_automation_with_http_info(inbound_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.delete_sms_inbound_automation ...'
      end
      # verify the required parameter 'inbound_rule_id' is set
      if @api_client.config.client_side_validation && inbound_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_rule_id' when calling SmsApi.delete_sms_inbound_automation"
      end
      # resource path
      local_var_path = '/v3/automations/sms/inbound/{inbound_rule_id}'.sub('{inbound_rule_id}', CGI.escape(inbound_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteSmsInboundAutomation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.delete_sms_inbound_automation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#delete_sms_inbound_automation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete SMS Template
    # Use this endpoint to delete a <a href=\"https://help.clicksend.com/article/9z9uloaz8y-sms-templates-for-different-industries\" target=\"_blank\">SMS template</a>. Specify the SMS template to delete by providing its _template_id_.
    # @param template_id [String] The ID of the template to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [DeleteSmsTemplate]
    def delete_sms_template(template_id, opts = {})
      data, _status_code, _headers = delete_sms_template_with_http_info(template_id, opts)
      data
    end

    # Delete SMS Template
    # Use this endpoint to delete a &lt;a href&#x3D;\&quot;https://help.clicksend.com/article/9z9uloaz8y-sms-templates-for-different-industries\&quot; target&#x3D;\&quot;_blank\&quot;&gt;SMS template&lt;/a&gt;. Specify the SMS template to delete by providing its _template_id_.
    # @param template_id [String] The ID of the template to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(DeleteSmsTemplate, Integer, Hash)>] DeleteSmsTemplate data, response status code and response headers
    def delete_sms_template_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.delete_sms_template ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling SmsApi.delete_sms_template"
      end
      # resource path
      local_var_path = '/v3/sms/templates/{template_id}'.sub('{template_id}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteSmsTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.delete_sms_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#delete_sms_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export SMS History
    # Use this endpoint to create a download link of your SMS history. You can filter the SMS history result using the query parameters.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [String] :filename The filename of the result. It should be in the .csv format. (default to 'export.csv')
    # @option opts [Integer] :page The page number to retrieve. Use this parameter to navigate through the [pagination](/#pagination) results. The default value is 1. (default to 1)
    # @option opts [Integer] :limit The number of items to return per page. This parameter controls the size of each page of results. The default value is 15. (default to 15)
    # @option opts [String] :q Allows filtering of results based on your search criteria. The query should be in the format &#x60;field_name:value&#x60;.  1. **Field Name**: The field within the SMS history you want to filter by. You can use the following fields:          - _Status_: The status of the SMS. Available values for status are: Queued, Completed, Scheduled, WaitApproval, Failed, Cancelled, CancelledAfterReview, Received, Sent.              - _To_: The recipient of the SMS.              - _from_: The sender of the SMS.              - _subaccount_id_: The sub-account identifier.              - _message_id_: The ID of your SMS.          2. **Value**: The text or keyword you&#39;re searching for within the specified field. If left empty after the colon, the filter will look for all templates with any value in the **Field Name**.             For example, if you are searching for a SMS with the status of _Scheduled_, the final query would look like this:    &#x60;q&#x3D;status:Scheduled&#x60;  &lt;div class&#x3D;\&quot;info-box\&quot;&gt;   &lt;h4&gt;&lt;i class&#x3D;\&quot;fas fa-info-circle\&quot;&gt;&lt;/i&gt; Note:&lt;/h4&gt;   &lt;div&gt;   &lt;p&gt;Some characters have to be encoded. For example, if you are searching for SMS sent from the phone number +61437085284, your search query q would be:&lt;br/&gt;&lt;/p&gt;     &lt;ul&gt;       &lt;li&gt;q&#x3D;from:%2B61437085284&lt;/li&gt;     &lt;/ul&gt;     &lt;p&gt;You can use the &lt;a href&#x3D;\&quot;https://www.urlencoder.org/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;URL encoder&lt;/a&gt; to encode the text. If a character is not an alphanumeric character (A-Z, a-z, 0-9), it is typically either reserved or unsafe and should be encoded.&lt;/p&gt;   &lt;/div&gt; &lt;/div&gt; (default to 'field_name')
    # @option opts [String] :order_by Specifies the field and order to sort the results by. The value is composed of the field name followed by a colon and the sort direction (asc for ascending or desc for descending).  The default sort order is by date in ascending order. You can use the following fields:    - _date_    - _username_   - _from_    - _to_   - _status_    - _body_  For example, if you want to order by the most recently sent SMS, you should sort by date in descending order. The query would look like this:    &#x60;order_by&#x3D;date:desc&#x60; (default to 'date:asc')
    # @option opts [Integer] :date_from Start date to filter results. It should be in &lt;a href&#x3D;\&quot;http://help.clicksend.com/what-is-a-unix-timestamp\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Unix format&lt;/a&gt;.
    # @option opts [Integer] :date_to End date to filter results. It should be in &lt;a href&#x3D;\&quot;http://help.clicksend.com/what-is-a-unix-timestamp\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Unix format&lt;/a&gt;.
    # @return [ExportSmsHistory]
    def export_sms_history(opts = {})
      data, _status_code, _headers = export_sms_history_with_http_info(opts)
      data
    end

    # Export SMS History
    # Use this endpoint to create a download link of your SMS history. You can filter the SMS history result using the query parameters.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [String] :filename The filename of the result. It should be in the .csv format. (default to 'export.csv')
    # @option opts [Integer] :page The page number to retrieve. Use this parameter to navigate through the [pagination](/#pagination) results. The default value is 1. (default to 1)
    # @option opts [Integer] :limit The number of items to return per page. This parameter controls the size of each page of results. The default value is 15. (default to 15)
    # @option opts [String] :q Allows filtering of results based on your search criteria. The query should be in the format &#x60;field_name:value&#x60;.  1. **Field Name**: The field within the SMS history you want to filter by. You can use the following fields:          - _Status_: The status of the SMS. Available values for status are: Queued, Completed, Scheduled, WaitApproval, Failed, Cancelled, CancelledAfterReview, Received, Sent.              - _To_: The recipient of the SMS.              - _from_: The sender of the SMS.              - _subaccount_id_: The sub-account identifier.              - _message_id_: The ID of your SMS.          2. **Value**: The text or keyword you&#39;re searching for within the specified field. If left empty after the colon, the filter will look for all templates with any value in the **Field Name**.             For example, if you are searching for a SMS with the status of _Scheduled_, the final query would look like this:    &#x60;q&#x3D;status:Scheduled&#x60;  &lt;div class&#x3D;\&quot;info-box\&quot;&gt;   &lt;h4&gt;&lt;i class&#x3D;\&quot;fas fa-info-circle\&quot;&gt;&lt;/i&gt; Note:&lt;/h4&gt;   &lt;div&gt;   &lt;p&gt;Some characters have to be encoded. For example, if you are searching for SMS sent from the phone number +61437085284, your search query q would be:&lt;br/&gt;&lt;/p&gt;     &lt;ul&gt;       &lt;li&gt;q&#x3D;from:%2B61437085284&lt;/li&gt;     &lt;/ul&gt;     &lt;p&gt;You can use the &lt;a href&#x3D;\&quot;https://www.urlencoder.org/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;URL encoder&lt;/a&gt; to encode the text. If a character is not an alphanumeric character (A-Z, a-z, 0-9), it is typically either reserved or unsafe and should be encoded.&lt;/p&gt;   &lt;/div&gt; &lt;/div&gt; (default to 'field_name')
    # @option opts [String] :order_by Specifies the field and order to sort the results by. The value is composed of the field name followed by a colon and the sort direction (asc for ascending or desc for descending).  The default sort order is by date in ascending order. You can use the following fields:    - _date_    - _username_   - _from_    - _to_   - _status_    - _body_  For example, if you want to order by the most recently sent SMS, you should sort by date in descending order. The query would look like this:    &#x60;order_by&#x3D;date:desc&#x60; (default to 'date:asc')
    # @option opts [Integer] :date_from Start date to filter results. It should be in &lt;a href&#x3D;\&quot;http://help.clicksend.com/what-is-a-unix-timestamp\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Unix format&lt;/a&gt;.
    # @option opts [Integer] :date_to End date to filter results. It should be in &lt;a href&#x3D;\&quot;http://help.clicksend.com/what-is-a-unix-timestamp\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Unix format&lt;/a&gt;.
    # @return [Array<(ExportSmsHistory, Integer, Hash)>] ExportSmsHistory data, response status code and response headers
    def export_sms_history_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.export_sms_history ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SmsApi.export_sms_history, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 15
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SmsApi.export_sms_history, must be greater than or equal to 15.'
      end

      # resource path
      local_var_path = '/v3/sms/history/export'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filename'] = opts[:'filename'] if !opts[:'filename'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'date_from'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'date_to'] = opts[:'date_to'] if !opts[:'date_to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExportSmsHistory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.export_sms_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#export_sms_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark Inbound SMS as Read
    # Use this endpoint to mark all <a href=\"https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url\" target=\"_blank\">inbound SMS</a> as read. Inbound SMS that has been marked as read won’t be shown in the **View Inbound SMS** endpoint. You can still use the **View Specific Inbound SMS** endpoint to view inbound SMS marked as read.  In the request, you can optionally add a _date_before_ parameter to only mark inbound SMS sent before that date as read.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [MarkSmsReceiptAsReadRequest] :mark_sms_receipt_as_read_request 
    # @return [MarkInboundSmsAsRead]
    def mark_inbound_sms_as_read(opts = {})
      data, _status_code, _headers = mark_inbound_sms_as_read_with_http_info(opts)
      data
    end

    # Mark Inbound SMS as Read
    # Use this endpoint to mark all &lt;a href&#x3D;\&quot;https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url\&quot; target&#x3D;\&quot;_blank\&quot;&gt;inbound SMS&lt;/a&gt; as read. Inbound SMS that has been marked as read won’t be shown in the **View Inbound SMS** endpoint. You can still use the **View Specific Inbound SMS** endpoint to view inbound SMS marked as read.  In the request, you can optionally add a _date_before_ parameter to only mark inbound SMS sent before that date as read.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [MarkSmsReceiptAsReadRequest] :mark_sms_receipt_as_read_request 
    # @return [Array<(MarkInboundSmsAsRead, Integer, Hash)>] MarkInboundSmsAsRead data, response status code and response headers
    def mark_inbound_sms_as_read_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.mark_inbound_sms_as_read ...'
      end
      # resource path
      local_var_path = '/v3/sms/inbound-read'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'mark_sms_receipt_as_read_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'MarkInboundSmsAsRead'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.mark_inbound_sms_as_read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#mark_inbound_sms_as_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark SMS Receipt As Read
    # Use this endpoint to mark all <a target=\"_blank\" href=\"https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates\">SMS delivery receipts</a> as read. Delivery receipts that have been marked as read won’t be shown in the **View SMS Receipts** endpoint.  You can still use the **View Specific SMS Receipt** endpoint to view delivery receipts marked as read. In the request, you can optionally add a _date_before_ parameter to only mark receipts sent before that date as read
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [MarkSmsReceiptAsReadRequest] :mark_sms_receipt_as_read_request 
    # @return [MarkSmsReceiptAsRead]
    def mark_sms_receipt_as_read(opts = {})
      data, _status_code, _headers = mark_sms_receipt_as_read_with_http_info(opts)
      data
    end

    # Mark SMS Receipt As Read
    # Use this endpoint to mark all &lt;a target&#x3D;\&quot;_blank\&quot; href&#x3D;\&quot;https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates\&quot;&gt;SMS delivery receipts&lt;/a&gt; as read. Delivery receipts that have been marked as read won’t be shown in the **View SMS Receipts** endpoint.  You can still use the **View Specific SMS Receipt** endpoint to view delivery receipts marked as read. In the request, you can optionally add a _date_before_ parameter to only mark receipts sent before that date as read
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [MarkSmsReceiptAsReadRequest] :mark_sms_receipt_as_read_request 
    # @return [Array<(MarkSmsReceiptAsRead, Integer, Hash)>] MarkSmsReceiptAsRead data, response status code and response headers
    def mark_sms_receipt_as_read_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.mark_sms_receipt_as_read ...'
      end
      # resource path
      local_var_path = '/v3/sms/receipts-read'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'mark_sms_receipt_as_read_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'MarkSmsReceiptAsRead'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.mark_sms_receipt_as_read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#mark_sms_receipt_as_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark Specific Inbound SMS Message As Read
    # Use this endpoint to mark a specific <a href=\"https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url\" target=\"_blank\">inbound SMS</a> as read. Unlike the **View Inbound SMS** endpoint, which marks all inbound SMS as read,  this endpoint only marks one specified inbound SMS. Specify the SMS to be marked as read by providing its _message_id_.
    # @param message_id [String] The message_id of the inbound SMS to mark as read.  &lt;div class&#x3D;\&quot;info-box\&quot;&gt;   &lt;h4&gt;&lt;i class&#x3D;\&quot;fas fa-info-circle\&quot;&gt;&lt;/i&gt; Note:&lt;/h4&gt;   &lt;p&gt;     When you receive an inbound message, you will get two parameters: &lt;em&gt;original_message_id&lt;/em&gt; and &lt;em&gt;message_id&lt;/em&gt;:   &lt;/p&gt;   &lt;ul&gt;     &lt;li&gt;&lt;em&gt;original_message_id&lt;/em&gt;: This is the ID of the outbound message sent to the recipient&lt;/li&gt;     &lt;li&gt;&lt;em&gt;message_id&lt;/em&gt;: This is the ID of the inbound message sent by the recipient.&lt;/li&gt;   &lt;/ul&gt; &lt;/div&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [MarkSpecificInboundSmsMessageAsRead]
    def mark_specific_inbound_sms_message_as_read(message_id, opts = {})
      data, _status_code, _headers = mark_specific_inbound_sms_message_as_read_with_http_info(message_id, opts)
      data
    end

    # Mark Specific Inbound SMS Message As Read
    # Use this endpoint to mark a specific &lt;a href&#x3D;\&quot;https://help.clicksend.com/article/ik4hw5xu35-can-i-receive-inbound-sms-to-my-url\&quot; target&#x3D;\&quot;_blank\&quot;&gt;inbound SMS&lt;/a&gt; as read. Unlike the **View Inbound SMS** endpoint, which marks all inbound SMS as read,  this endpoint only marks one specified inbound SMS. Specify the SMS to be marked as read by providing its _message_id_.
    # @param message_id [String] The message_id of the inbound SMS to mark as read.  &lt;div class&#x3D;\&quot;info-box\&quot;&gt;   &lt;h4&gt;&lt;i class&#x3D;\&quot;fas fa-info-circle\&quot;&gt;&lt;/i&gt; Note:&lt;/h4&gt;   &lt;p&gt;     When you receive an inbound message, you will get two parameters: &lt;em&gt;original_message_id&lt;/em&gt; and &lt;em&gt;message_id&lt;/em&gt;:   &lt;/p&gt;   &lt;ul&gt;     &lt;li&gt;&lt;em&gt;original_message_id&lt;/em&gt;: This is the ID of the outbound message sent to the recipient&lt;/li&gt;     &lt;li&gt;&lt;em&gt;message_id&lt;/em&gt;: This is the ID of the inbound message sent by the recipient.&lt;/li&gt;   &lt;/ul&gt; &lt;/div&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(MarkSpecificInboundSmsMessageAsRead, Integer, Hash)>] MarkSpecificInboundSmsMessageAsRead data, response status code and response headers
    def mark_specific_inbound_sms_message_as_read_with_http_info(message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.mark_specific_inbound_sms_message_as_read ...'
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling SmsApi.mark_specific_inbound_sms_message_as_read"
      end
      # resource path
      local_var_path = '/v3/sms/inbound-read/{message_id}'.sub('{message_id}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MarkSpecificInboundSmsMessageAsRead'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.mark_specific_inbound_sms_message_as_read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#mark_specific_inbound_sms_message_as_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send SMS
    # Use this endpoint to send messages to your recipients, either as phone numbers or contacts from your contact list.  The sender of the message (<a href=\"https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number\" target=\"_blank\"><strong>Sender ID</strong></a>) can be a shared number, a dedicated number, alpha tag (business name), or your own number.  You can send messages both locally and globally, subject to the country restrictions. The cost of sending messages varies based on the <a href=\"https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\" target=\"_blank\">type</a> and length of the message.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [SendSmsRequest] :send_sms_request 
    # @return [SendSms]
    def send_sms(opts = {})
      data, _status_code, _headers = send_sms_with_http_info(opts)
      data
    end

    # Send SMS
    # Use this endpoint to send messages to your recipients, either as phone numbers or contacts from your contact list.  The sender of the message (&lt;a href&#x3D;\&quot;https://help.clicksend.com/article/4kgj7krx00-what-is-a-sender-id-or-sender-number\&quot; target&#x3D;\&quot;_blank\&quot;&gt;&lt;strong&gt;Sender ID&lt;/strong&gt;&lt;/a&gt;) can be a shared number, a dedicated number, alpha tag (business name), or your own number.  You can send messages both locally and globally, subject to the country restrictions. The cost of sending messages varies based on the &lt;a href&#x3D;\&quot;https://help.clicksend.com/article/h474eseq3a-how-many-characters-can-i-send-in-an-sms\&quot; target&#x3D;\&quot;_blank\&quot;&gt;type&lt;/a&gt; and length of the message.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [SendSmsRequest] :send_sms_request 
    # @return [Array<(SendSms, Integer, Hash)>] SendSms data, response status code and response headers
    def send_sms_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.send_sms ...'
      end
      # resource path
      local_var_path = '/v3/sms/send'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'send_sms_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SendSms'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.send_sms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#send_sms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SMS Delivery Receipt Rule
    # _Update sms delivery receipt automation_  Update sms delivery receipt automation  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | receipt_rule_id | path | integer(int32) | true | Receipt rule id |  ### Properties  | Name | Type | Required | Restrictions | Description | | --- | --- | --- | --- | --- | | rule_name | string | true | none | Rule Name. | | match_type | number | true | none | Match Type. 0=All reports. | | action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). | | action_address | string | true | none | Action address. | | enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   <div style=\"background-color: #FF6A4B; padding: 10px; border-radius: 8px;\">   <span style=\"color: white;\">This endpoint requires authentication,</span>    <a href=\"/docs/#authentication\" style=\"color: white; text-decoration: underline;\">more info...</a> </div>
    # @param receipt_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateSmsDeliveryReceiptRuleRequest] :create_sms_delivery_receipt_rule_request 
    # @return [UpdateSmsDeliveryReceiptRule]
    def update_sms_delivery_receipt_rule(receipt_rule_id, opts = {})
      data, _status_code, _headers = update_sms_delivery_receipt_rule_with_http_info(receipt_rule_id, opts)
      data
    end

    # Update SMS Delivery Receipt Rule
    # _Update sms delivery receipt automation_  Update sms delivery receipt automation  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | receipt_rule_id | path | integer(int32) | true | Receipt rule id |  ### Properties  | Name | Type | Required | Restrictions | Description | | --- | --- | --- | --- | --- | | rule_name | string | true | none | Rule Name. | | match_type | number | true | none | Match Type. 0&#x3D;All reports. | | action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). | | action_address | string | true | none | Action address. | | enabled | number | true | none | Enabled: Disabled&#x3D;0 or Enabled&#x3D;1. |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   &lt;div style&#x3D;\&quot;background-color: #FF6A4B; padding: 10px; border-radius: 8px;\&quot;&gt;   &lt;span style&#x3D;\&quot;color: white;\&quot;&gt;This endpoint requires authentication,&lt;/span&gt;    &lt;a href&#x3D;\&quot;/docs/#authentication\&quot; style&#x3D;\&quot;color: white; text-decoration: underline;\&quot;&gt;more info...&lt;/a&gt; &lt;/div&gt;
    # @param receipt_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateSmsDeliveryReceiptRuleRequest] :create_sms_delivery_receipt_rule_request 
    # @return [Array<(UpdateSmsDeliveryReceiptRule, Integer, Hash)>] UpdateSmsDeliveryReceiptRule data, response status code and response headers
    def update_sms_delivery_receipt_rule_with_http_info(receipt_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.update_sms_delivery_receipt_rule ...'
      end
      # verify the required parameter 'receipt_rule_id' is set
      if @api_client.config.client_side_validation && receipt_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_rule_id' when calling SmsApi.update_sms_delivery_receipt_rule"
      end
      # resource path
      local_var_path = '/v3/automations/sms/receipts/{receipt_rule_id}'.sub('{receipt_rule_id}', CGI.escape(receipt_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_sms_delivery_receipt_rule_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateSmsDeliveryReceiptRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.update_sms_delivery_receipt_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#update_sms_delivery_receipt_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SMS Inbound Automation
    # _Update inbound sms automation_  Update inbound sms automation  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | inbound_rule_id | path | integer(int32) | true | Inbound rule id |  ### Properties  | Name | Type | Required | Restrictions | Description | | --- | --- | --- | --- | --- | | dedicated_number | string | true | none | Dedicated Number. Can be '\\*' to apply to all numbers. | | rule_name | string | true | none | Rule Name. | | message_search_type | number | true | none | Message Search Type: 0=Any message, 1=starts with, 2=contains, 3=does not contain. | | message_search_term | string | true | none | Message search term. | | action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). | | action_address | string | true | none | Action address. | | enabled | number | true | none | Enabled: Disabled=0 or Enabled=1. | | webhook_type | string | false | Required when action = URL only | Set as post, get, or json to change the format of the request sent. |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   <div style=\"background-color: #FF6A4B; padding: 10px; border-radius: 8px;\">   <span style=\"color: white;\">This endpoint requires authentication,</span>    <a href=\"/docs/#authentication\" style=\"color: white; text-decoration: underline;\">more info...</a> </div>
    # @param inbound_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [UpdateSmsInboundAutomationRequest] :update_sms_inbound_automation_request 
    # @return [UpdateSmsInboundAutomation]
    def update_sms_inbound_automation(inbound_rule_id, opts = {})
      data, _status_code, _headers = update_sms_inbound_automation_with_http_info(inbound_rule_id, opts)
      data
    end

    # Update SMS Inbound Automation
    # _Update inbound sms automation_  Update inbound sms automation  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | inbound_rule_id | path | integer(int32) | true | Inbound rule id |  ### Properties  | Name | Type | Required | Restrictions | Description | | --- | --- | --- | --- | --- | | dedicated_number | string | true | none | Dedicated Number. Can be &#39;\\*&#39; to apply to all numbers. | | rule_name | string | true | none | Rule Name. | | message_search_type | number | true | none | Message Search Type: 0&#x3D;Any message, 1&#x3D;starts with, 2&#x3D;contains, 3&#x3D;does not contain. | | message_search_term | string | true | none | Message search term. | | action | string | true | none | Action to be taken (AUTO_REPLY, EMAIL_USER, EMAIL_FIXED, URL, SMS, POLL, GROUP_SMS, MOVE_CONTACT, CREATE_CONTACT, CREATE_CONTACT_PLUS_EMAIL, CREATE_CONTACT_PLUS_NAME_EMAIL CREATE_CONTACT_PLUS_NAME, SMPP, NONE). | | action_address | string | true | none | Action address. | | enabled | number | true | none | Enabled: Disabled&#x3D;0 or Enabled&#x3D;1. | | webhook_type | string | false | Required when action &#x3D; URL only | Set as post, get, or json to change the format of the request sent. |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   &lt;div style&#x3D;\&quot;background-color: #FF6A4B; padding: 10px; border-radius: 8px;\&quot;&gt;   &lt;span style&#x3D;\&quot;color: white;\&quot;&gt;This endpoint requires authentication,&lt;/span&gt;    &lt;a href&#x3D;\&quot;/docs/#authentication\&quot; style&#x3D;\&quot;color: white; text-decoration: underline;\&quot;&gt;more info...&lt;/a&gt; &lt;/div&gt;
    # @param inbound_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [UpdateSmsInboundAutomationRequest] :update_sms_inbound_automation_request 
    # @return [Array<(UpdateSmsInboundAutomation, Integer, Hash)>] UpdateSmsInboundAutomation data, response status code and response headers
    def update_sms_inbound_automation_with_http_info(inbound_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.update_sms_inbound_automation ...'
      end
      # verify the required parameter 'inbound_rule_id' is set
      if @api_client.config.client_side_validation && inbound_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_rule_id' when calling SmsApi.update_sms_inbound_automation"
      end
      # resource path
      local_var_path = '/v3/automations/sms/inbound/{inbound_rule_id}'.sub('{inbound_rule_id}', CGI.escape(inbound_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_sms_inbound_automation_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateSmsInboundAutomation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.update_sms_inbound_automation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#update_sms_inbound_automation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update SMS Template
    # Use this endpoint to update a <a href=\"https://help.clicksend.com/article/9z9uloaz8y-sms-templates-for-different-industries\" target=\"_blank\">SMS template</a>.
    # @param template_id [String] The ID of the template to update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateSmsTemplateRequest] :create_sms_template_request 
    # @return [UpdateSmsTemplate]
    def update_sms_template(template_id, opts = {})
      data, _status_code, _headers = update_sms_template_with_http_info(template_id, opts)
      data
    end

    # Update SMS Template
    # Use this endpoint to update a &lt;a href&#x3D;\&quot;https://help.clicksend.com/article/9z9uloaz8y-sms-templates-for-different-industries\&quot; target&#x3D;\&quot;_blank\&quot;&gt;SMS template&lt;/a&gt;.
    # @param template_id [String] The ID of the template to update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [CreateSmsTemplateRequest] :create_sms_template_request 
    # @return [Array<(UpdateSmsTemplate, Integer, Hash)>] UpdateSmsTemplate data, response status code and response headers
    def update_sms_template_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.update_sms_template ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling SmsApi.update_sms_template"
      end
      # resource path
      local_var_path = '/v3/sms/templates/{template_id}'.sub('{template_id}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_sms_template_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateSmsTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.update_sms_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#update_sms_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # View a specific inbound SMS message
    # Use this endpoint to retrieve a specific inbound SMS, including those that have been marked as read.  Inbound SMS are messages sent by your recipient to you. This endpoint enables you to retrieve those inbound SMS.
    # @param original_message_id [String] The _original_message_id_ of the inbound SMS to view. If the recipient replied with multiple messages, this endpoint returns the first inbound SMS received.  &lt;div class&#x3D;\&quot;info-box\&quot;&gt;   &lt;h4&gt;&lt;i class&#x3D;\&quot;fas fa-info-circle\&quot;&gt;&lt;/i&gt; Note:&lt;/h4&gt;   &lt;p&gt;     When you receive an inbound message, you will get two parameters: &lt;em&gt;original_message_id&lt;/em&gt; and &lt;em&gt;message_id&lt;/em&gt;:   &lt;/p&gt;   &lt;ul&gt;     &lt;li&gt;&lt;em&gt;original_message_id&lt;/em&gt;: This is the ID of the outbound message sent to the recipient&lt;/li&gt;     &lt;li&gt;&lt;em&gt;message_id&lt;/em&gt;: This is the ID of the inbound message sent by the recipient.&lt;/li&gt;   &lt;/ul&gt; &lt;/div&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [ViewASpecificInboundSmsMessage]
    def view_a_specific_inbound_sms_message(original_message_id, opts = {})
      data, _status_code, _headers = view_a_specific_inbound_sms_message_with_http_info(original_message_id, opts)
      data
    end

    # View a specific inbound SMS message
    # Use this endpoint to retrieve a specific inbound SMS, including those that have been marked as read.  Inbound SMS are messages sent by your recipient to you. This endpoint enables you to retrieve those inbound SMS.
    # @param original_message_id [String] The _original_message_id_ of the inbound SMS to view. If the recipient replied with multiple messages, this endpoint returns the first inbound SMS received.  &lt;div class&#x3D;\&quot;info-box\&quot;&gt;   &lt;h4&gt;&lt;i class&#x3D;\&quot;fas fa-info-circle\&quot;&gt;&lt;/i&gt; Note:&lt;/h4&gt;   &lt;p&gt;     When you receive an inbound message, you will get two parameters: &lt;em&gt;original_message_id&lt;/em&gt; and &lt;em&gt;message_id&lt;/em&gt;:   &lt;/p&gt;   &lt;ul&gt;     &lt;li&gt;&lt;em&gt;original_message_id&lt;/em&gt;: This is the ID of the outbound message sent to the recipient&lt;/li&gt;     &lt;li&gt;&lt;em&gt;message_id&lt;/em&gt;: This is the ID of the inbound message sent by the recipient.&lt;/li&gt;   &lt;/ul&gt; &lt;/div&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(ViewASpecificInboundSmsMessage, Integer, Hash)>] ViewASpecificInboundSmsMessage data, response status code and response headers
    def view_a_specific_inbound_sms_message_with_http_info(original_message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.view_a_specific_inbound_sms_message ...'
      end
      # verify the required parameter 'original_message_id' is set
      if @api_client.config.client_side_validation && original_message_id.nil?
        fail ArgumentError, "Missing the required parameter 'original_message_id' when calling SmsApi.view_a_specific_inbound_sms_message"
      end
      # resource path
      local_var_path = '/v3/sms/inbound/{original_message_id}'.sub('{original_message_id}', CGI.escape(original_message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ViewASpecificInboundSmsMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.view_a_specific_inbound_sms_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#view_a_specific_inbound_sms_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # View a Specific SMS Template
    # Use this endpoint to retrieve a <a href=\"https://help.clicksend.com/article/9z9uloaz8y-sms-templates-for-different-industries\" target=\"_blank\">SMS template</a>. Specify which template to retrieve using the template ID.
    # @param template_id [String] The ID of the template to retrieve
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [ViewASpecificSmsTemplate]
    def view_a_specific_sms_template(template_id, opts = {})
      data, _status_code, _headers = view_a_specific_sms_template_with_http_info(template_id, opts)
      data
    end

    # View a Specific SMS Template
    # Use this endpoint to retrieve a &lt;a href&#x3D;\&quot;https://help.clicksend.com/article/9z9uloaz8y-sms-templates-for-different-industries\&quot; target&#x3D;\&quot;_blank\&quot;&gt;SMS template&lt;/a&gt;. Specify which template to retrieve using the template ID.
    # @param template_id [String] The ID of the template to retrieve
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(ViewASpecificSmsTemplate, Integer, Hash)>] ViewASpecificSmsTemplate data, response status code and response headers
    def view_a_specific_sms_template_with_http_info(template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.view_a_specific_sms_template ...'
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling SmsApi.view_a_specific_sms_template"
      end
      # resource path
      local_var_path = '/v3/sms/templates/{template_id}'.sub('{template_id}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ViewASpecificSmsTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.view_a_specific_sms_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#view_a_specific_sms_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # View Inbound SMS
    # Use this endpoint to retrieve <a href=\"https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates\" target=\"_blank\">SMS delivery receipts</a> sent by your recipient.  To be able to view receipts, add a <a href=\"https://help.clicksend.com/article/ut4ttdrrai-incoming-reply-sms-options\">inbound rule</a> with the Action set to **POLL** in the Dashboard, or use the [**Create SMS Inbound Automation**](/automations/sms/other/create-sms-inbound-automation) endpoint.  Control [pagination](/#pagination) with the _page_ and _limit_ query parameters to specify the page of results and the number of items returned.  <div class=\"info-box\">   <h4><i class=\"fas fa-info-circle\"></i> Note:</h4>   <p>If you have multiple inbound rules set to <strong>POLL</strong>, you will receive the inbound message multiple times.</p> </div>
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [Integer] :page The page number to retrieve. Use this parameter to navigate through the [pagination](/#pagination) results. The default value is 1. (default to 1)
    # @option opts [Integer] :limit The number of items to return per page. This parameter controls the size of each page of results. The default value is 15. (default to 15)
    # @return [ViewInboundSms]
    def view_inbound_sms(opts = {})
      data, _status_code, _headers = view_inbound_sms_with_http_info(opts)
      data
    end

    # View Inbound SMS
    # Use this endpoint to retrieve &lt;a href&#x3D;\&quot;https://help.clicksend.com/article/49eq1qdcui-how-do-i-receive-sms-delivery-receipts-delivery-status-updates\&quot; target&#x3D;\&quot;_blank\&quot;&gt;SMS delivery receipts&lt;/a&gt; sent by your recipient.  To be able to view receipts, add a &lt;a href&#x3D;\&quot;https://help.clicksend.com/article/ut4ttdrrai-incoming-reply-sms-options\&quot;&gt;inbound rule&lt;/a&gt; with the Action set to **POLL** in the Dashboard, or use the [**Create SMS Inbound Automation**](/automations/sms/other/create-sms-inbound-automation) endpoint.  Control [pagination](/#pagination) with the _page_ and _limit_ query parameters to specify the page of results and the number of items returned.  &lt;div class&#x3D;\&quot;info-box\&quot;&gt;   &lt;h4&gt;&lt;i class&#x3D;\&quot;fas fa-info-circle\&quot;&gt;&lt;/i&gt; Note:&lt;/h4&gt;   &lt;p&gt;If you have multiple inbound rules set to &lt;strong&gt;POLL&lt;/strong&gt;, you will receive the inbound message multiple times.&lt;/p&gt; &lt;/div&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @option opts [Integer] :page The page number to retrieve. Use this parameter to navigate through the [pagination](/#pagination) results. The default value is 1. (default to 1)
    # @option opts [Integer] :limit The number of items to return per page. This parameter controls the size of each page of results. The default value is 15. (default to 15)
    # @return [Array<(ViewInboundSms, Integer, Hash)>] ViewInboundSms data, response status code and response headers
    def view_inbound_sms_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmsApi.view_inbound_sms ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SmsApi.view_inbound_sms, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 15
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SmsApi.view_inbound_sms, must be greater than or equal to 15.'
      end

      # resource path
      local_var_path = '/v3/sms/inbound'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ViewInboundSms'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SmsApi.view_inbound_sms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmsApi#view_inbound_sms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # View SMS Delivery Receipt Rule
    # _Get specific sms delivery receipt automation_  Get specific sms delivery receipt automation  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | receipt_rule_id | path | integer(int32) | true | Receipt rule id |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   <div style=\"background-color: #FF6A4B; padding: 10px; border-radius: 8px;\">   <span style=\"color: white;\">This endpoint requires authentication,</span>    <a href=\"/docs/#authentication\" style=\"color: white; text-decoration: underline;\">more info...</a> </div>
    # @param receipt_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [ViewSmsDeliveryReceiptRule]
    def view_sms_delivery_receipt_rule(receipt_rule_id, opts = {})
      data, _status_code, _headers = view_sms_delivery_receipt_rule_with_http_info(receipt_rule_id, opts)
      data
    end

    # View SMS Delivery Receipt Rule
    # _Get specific sms delivery receipt automation_  Get specific sms delivery receipt automation  ### Parameters  | Parameter | In | Type | Required | Description | | --- | --- | --- | --- | --- | | receipt_rule_id | path | integer(int32) | true | Receipt rule id |   Refer to [Status Codes](/#status-codes) for definitions of HTTP status code responses.   &lt;div style&#x3D;\&quot;background-color: #FF6A4B; padding: 10px; border-radius: 8px;\&quot;&gt;   &lt;span style&#x3D;\&quot;color: white;\&quot;&gt;This endpoint requires authentication,&lt;/span&gt;    &lt;a href&#x3D;\&quot;/docs/#authentication\&quot; style&#x3D;\&quot;color: white; text-decoration: underline;\&quot;&gt;more info...&lt;/a&gt; &lt;/div&gt;
    # @param receipt_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_type 
    # @return [Array<(ViewSmsDeliveryReceiptRule, Integer, Hash)>] ViewSmsDeliveryReceiptRule data, response status code and response headers
[...]
